body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #c2cad6;
}

h1 {
  color: #396884;
}

a {
  color: #fff;
}

a:hover {
  color: yellow;
}

ul {
  list-style-type: none;
}