@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Indie+Flower&display=swap');

body {
  padding: 50px;
  background-color: #c2cad6;
}

h1 {
  color: #396884;
  font-size: 4em;
  font-family: 'Alata', sans-serif;
}

h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
}


li > a, .cant {
  font-family: 'Indie Flower', cursive;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

li > a:hover, .cant:hover {
  color: #ffed4f;
  text-decoration: underline;
}

.cant {
  cursor: pointer;
}

a {
  font-family: 'Indie Flower', cursive;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  color: rgb(19, 20, 28);
}

ul {
  font-family: 'Indie Flower', cursive;
  list-style-type: none;
  font-size: 2em;
}

.neon {
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 1rem red,
            0 0 2rem red,
            0 0 3rem red,
            0 0 5rem red,
            0 0 6rem red,
            0 0 7rem red,
            0 0 8rem red,
            0 0 9rem red,
            0 0 10rem red,   
            0 0 10rem red;    
  
}